#header {
  display: block;
  height: 10%;

  .flex-header {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
  }

  .logo-wrapper {
    flex-grow: 1;
  }

  .logo {
    padding: 1em 1.5em;
    display: inline-block;
  }

  .logo img {
    height: 35px;
    width: auto;
    position: relative;
  }

  .search-wrapper {
    text-align: right;
    padding-right: 2em;

    input {
      font-size: 18px;
      border: none;
      margin: 32px 16px auto auto;
      display: inline-block;
      font-family: 'Roboto';
      text-align: right;
    }
  }

  .icon-magnifier {
    display: inline-block;
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }
}