body {
  font-family: 'Roboto', 'Helvetica', 'Avenir', 'Arial', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;

  .heavy {
    font-size: 14px;
    white-space: normal;
    font-weight: 400 !important;
    margin: 0px 10px 5px 10px;
  }

  .light {
    font-size: 12px;
    white-space: normal;
    font-weight: 300 !important;
    margin: 0px 10px 5px 10px;
  }
}